layout {
    default_tab_template {
        pane size=1 borderless=true {
        plugin location="tab-bar"
        }
    	pane split_direction="vertical" {
	     pane
	     pane stacked=true{
	     	pane
		pane
		pane
	     }
	}
	pane size=1 borderless=true {
	    plugin location="status-bar"
	}
    }
    tab name="1"
    tab name="2"
}
